                    * {
                        padding: 0;
                        margin: 0;
                    }
                    
                    html {
                        margin: 0px;
                        padding: 0px;
                    }
                    
                    body {
                        background-color: black;
                        color: white;
                        text-align: center;
                    }
                    
                    header {
                        background-color: red;
                        color: black;
                    }
                    
                    h1 {
                        font-size: 30px;
                        font-family: bold, italic;
                        color: white;
                    }
                    
                    img {
                        border-radius: 30px;
                    }
                    
                    p {
                        font-size: 15px;
                        text-align: center;
                    }
                    
                    footer {
                        background-color: rgb(14, 2, 68);
                        color: white;
                        width: 100%;
                    }
                    
                    textarea {
                        font-size: 30px;
                        padding: 20px;
                        width: 350px;
                        border-radius: 30px;
                    }
                    
                    button {
                        font-size: 20px;
                    }
                    
                    .card {
                        border: 2px solid;
                        width: 400px;
                        text-align: center;
                        margin-left: 470px;
                        background-color: white;
                        color: black;
                    }
                    
                    input {
                        border-radius: 20px;
                        padding: 5px;
                    }